.modal-content{
    color: black;
}
.modalInputUserName, .modalInputPassword, .modalInputTrackerId{
    display: block;
    font-weight: normal;
    padding: 5px;
    margin: 5px 5px 5px 0px;
}
.modalInputUserName::placeholder, .modalInputPassword::placeholder, .modalInputTrackerId::placeholder{
    color: #bdbdbd;
}
.validateModalInputUserName, .validateModalInputPassword {
    visibility: hidden;
    color: rgb(219, 16, 16);
    font-size: 0.9em;
}

.NavLinks{
    display: inline-block !important;
}

.p-userName{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    /* margin: 0 10px 0 0; */
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-input{
    height: 45px;
    font-size: 18px;
}
.input-addon-clickable{
    cursor: pointer;
}
.btn-bound-trigger{
    margin: 0px 5px 5px 0px;
}

table {
    border-collapse: collapse;
    border: #ddd 1px solid;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr {
    height: 51px;
}
.table-header:hover{
    cursor: default;
}
.clickable-tr, .clickable-link{
    cursor: pointer;
}
tr:hover {
    background-color:#bebebe;
}
.default-cursor{
    cursor: default !important;
}
.tracker-table{
    min-width: 350px;
}




.right{
    float: right;
}

.modal-container{
    display: inline-block;
}