<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ConnectionStrings>
    <connectionString>Data Source=temp.db;</connectionString>
  </ConnectionStrings>
  <ServerIP key="ServerIP" value="10.10.0.167" />
  <ServerPort key="ServerPort" value="8000" />
  <Dirs key="Dirs" value="D:\Monitor" />
  <Extensions key="Extensions" value="" />
  <Ignores key="Ignores" value="db-journal;db;tmpFolder;FilesMonitoringServer;Z2;file.zip;dll;pdb;tmp;suo;.vs;.git" />
  <TrackerId key="TrackerId" value="1" />
</configuration>